/* 头部样式 */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.header {
    width: 100%;
    height: 166px;
    margin-bottom: 30px;
}

.header .content {
    margin: auto;
    width: 1200px;
    height: 166px;
}

.headerTop {
    width: 100%;
    height: 31px;
    background: #f7f7f7;
}

.headerTopRight {
    float: right;
    font-size: 12px;
    width: 126px;
    height: 29px;
    background: url(../images/gonggao.png) no-repeat left center;
}

.headerTopRight a {
    color: #888888;
    display: inline-block;
    line-height: 29px;
    vertical-align: middle;
    margin-top: 1px;
}

.headerTopRight .gonggao {
    padding-left: 25px;
}

.weixinBox {
    width: 20px;
    height: 21px;
    background: url(../images/weixin.jpg) no-repeat center;
    position: relative;
}

.erweima {
    width: 150px;
    height: 170px;
    background: url(../images/fankeweixin.png) no-repeat center;
    position: absolute;
    right: 0;
    top: 24px;
    display: none;
    z-index: 5px;
}

.weibo {
    width: 20px;
    height: 25px;
    background: url(../images/weibo.jpg) no-repeat center;
}


.active {
    display: block;
}

.headerTop .headerTopLeft {
    width: 304px;
    height: 31px;
    float: left;
    margin-left: 770px;
}

.headerTopLeft span,
.headerTopLeft a {
    display: inline-block;
    color: #888888;
    font-size: 12px;
    line-height: 12px;
    margin-top: 10px;
}

.login {
    padding-right: 10px;
}

.headerTopLeft .zhuce {
    padding: 0 10px;
    border-left: 1px solid #888888;
}

.headerMiddle {
    margin: 20px 0 10px 0;
    width: 100%;
    height: 62px;
}

.searchBox {
    width: 438px;
    height: 52px;
    padding-top: 8px;
    float: right;
}

.searchTap {
    width: 310px;
    height: 29px;
    position: relative;
    float: left;
}

.fl {
    float: left;
}


.search .Enter {
    width: 249px;
    height: 27px;
    padding: 0px 5px;
    line-height: 27px;
    border: 1px solid #c9caca;
}

.btn {
    width: 49px;
    height: 29px;
    border: none;
    cursor: pointer;
    background: url(../images/ia_100000109.png) no-repeat scroll -100px 0px;
}


.shoppingCar {
    float: right;
    width: 106px;
    height: 29px;
    background: url(../images/ia_100000109.png) no-repeat scroll -154px 0px;
}

.shoppingCar a {
    display: block;
    padding-left: 29px;
    padding-top: 6px;
    font-size: 12px;
    color: #ffffff;
}

.hotList {
    width: 440px;
    color: #727171;
    padding-left: 15px;
    float: left;
    padding-top: 5px;
}

.hotList li {
    float: left;
    font-size: 12px;
    line-height: 12px;
}

.hotList li a {
    color: #727171;
    margin: 0 5px 0 0;
}

.headerNav {
    width: 100%;
    height: 40px;
}

.headerNav i {
    display: block;
    width: 185px;
    height: 40px;
    background: url(../images/ia_100000109.png) no-repeat scroll 0px -59px;
    float: left;
}


.headerNav .nav1 {
    float: left;
    width: 1015px;
    height: 46px;
}

.headerNav .nav1 li {
    float: left;
    width: 98px;
    line-height: 46px;
    text-align: center;
    box-sizing: border-box;
    /* vertical-align: bottom; */
    padding-top: 23px;
    z-index: 50;
    position: relative;
}


.headerNav .nav1 li a {
    color: #727171;
    width: 100%;
    display: block;
    text-align: center;
    height: 16px;
    line-height: 16px;
    padding: 0px 0px 5px 0;
    font-size: 16px;
    border-right: solid 1px #888;
    /* box-sizing: border-box; */
    /* vertical-align: bottom; */
}

.headerNav .nav2 {
    display: none;
    border: 1px solid #ca0000;
    border-top: 3px solid #ca0000;
    box-sizing: border-box;
    overflow: hidden;
}

.headerNav .nav2 li {
    height: 30px;
    line-height: 30px;
    padding-top: 0px;
    background: #fff;
}

.headerNav .nav2 li a {
    color: #727171;
    border: none;
    line-height: 30px;
    height: 30px;
    padding-bottom: 0px;
}


/* banner样式 */
.banner {
    width: 1200px;
    height: 535px;
    margin: 0 auto;
}

.banner .content {
    width: 1200px;
    height: 535px;
    margin: 0 auto;
    position: relative;
}

.imgBox {
    width: 100%;
    height: 100%;
}

.imgBox a {
    width: 100%;
    height: 535px;
    position: absolute;
    top: 0;
    display: none;
    /* z-index: 1; */
}

.imgBox a:nth-child(1) {
    display: block;
}

.btnBox {
    width: 100%;
    position: absolute;
    top: 236px;
}

.btnBox i {
    display: inline-block;
    width: 28px;
    height: 60px;
    background-size: 100%;
}

.btnBox .leftBtn {
    float: left;
    background: url(../images/zuoyou.png) no-repeat 0px 0px;
}

.btnBox .rightBtn {
    float: right;
    background: url(../images/zuoyou.png) no-repeat -50px 0px;
}

.dropBox {
    position: absolute;
    padding-left: 500px;
    bottom: 20px;
}

.dropBox span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}


.dropBox .red {
    background: rgb(207, 2, 2);
}


/* 内容 */

.coupon {
    width: 1200px;
    margin: 0 auto;
    height: 69px;
    background: url(../images/coupon.jpg) no-repeat center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.qianggou {
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
    /* height: 64px; */
}

.qianggouT {
    background: url(../images/qianggou.jpg) no-repeat center;
    width: 1200px;
    height: 64px;
    position: relative;
}

.qianggouT span {
    position: absolute;
    font-size: 18px;
    line-height: 64px;
    text-align: center;
    color: #fff;
}

.qianggouT span:nth-child(1) {
    right: 200px
}

.qianggouT span:nth-child(2) {
    color: red;
    right: 155px
}

.qianggouT span:nth-child(3) {
    color: red;
    right: 92px
}

.qianggouT span:nth-child(4) {
    color: red;
    right: 32px
}

.qianggouB {
    width: 1200px;
    height: 327px;
    margin: 0 auto;
}

.qianggouB ul {
    width: 100%;
    height: 100%;
}

.qianggouB ul li {
    width: 232px;
    height: 327px;
    margin-right: 10px;
    float: left;
}

.qianggouB ul li:nth-child(5) {
    margin-right: 0px;
}

.qianggouB ul li a {
    width: 100%;
    height: 100%;
}

.qianggouB ul li a img {
    width: 232px;
    height: 232px;
    margin-bottom: 10px;
}

.qianggouB ul li a p {
    font-size: 16px;
    line-height: 16px;
    color: #474747;
}

.priceBox {
    width: 232px;
    height: 69px;
    position: relative;
    overflow: hidden;
    /* background: pink; */
}

.priceBox .price1,
.priceBox .price2 {
    display: block;
    width: 100px;
}

.priceBox .price1 {
    color: #d3d3d3;
    font-size: 14px;
    text-decoration: line-through;
    margin-top: 20px;
    line-height: 14px;
}

.priceBox .price2 {
    float: left;
    margin-top: 5px;
    color: #bb2b34;
    font-size: 16px;
    line-height: 16px;
}

.priceBox .price3 {
    float: right;
    margin-right: 10px;
    font-size: 16px;
    color: #474747;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.priceBox .price3 b {
    font-size: 24px;
    font-style: normal;
    color: #bb2b34;
}

.shangxinBox {
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 20px;
    overflow: hidden;
}

.shangxinT {
    width: 100%;
    height: 84px;
    background: url(../images/shangxin.jpg) no-repeat center;
}

.container1 {
    margin-left: 27px;
    display: inline-grid;
    grid-template-columns: 268px 268px 268px 268px;
    grid-template-rows: 424px 424px 424px;
    grid-column-gap: 27px;
    grid-row-gap: 10px;
}

.mingxinBox {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.mingxingT {
    background: url(../images/mingxing.jpg) no-repeat center;
}

.mingxingT,
.qingliangT {
    width: 100%;
    height: 52px;
    margin-bottom: 20px;
}

.mingxingB {
    width: 100%;
}

.container2 {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 533px 533px 533px 533px;
    grid-row-gap: 40px;
}

.qingliangBox {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.qingliangT {
    background: url(../images/ql.jpg) no-repeat center;
}

.container3 {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 533px 533px 533px;
    grid-row-gap: 40px;
}

.youxuan {
    width: 1200px;
    margin: 0 auto;
    /* height: 1200px; */
    overflow: hidden;
}

.youxuan h2 {
    text-align: center;
    line-height: 50px;
    margin: 30px 0px;
    color: #9a9a9a;
    font-size: 18px;
    font-weight: normal;
}

.yxL {
    float: left;
    margin-right: 17px;
    width: 590px;
    height: 510px;
    box-sizing: border-box;
    border: 1px solid #e8e7ec;
}

.yxL img,
.yxR img {
    margin-bottom: 15px;
}

.yxMT img,
.yxMB img {
    margin-bottom: 25px;
}

.yxM {
    float: left;
    width: 290px;
    height: 530px;
    margin-right: 17px;
    box-sizing: border-box;
}

.yxMT {
    width: 290px;
    height: 250px;
    margin-bottom: 16px;
    border: 1px solid #e8e7ec;
    box-sizing: border-box;
}

.yxMB {
    width: 290px;
    height: 250px;
    border: 1px solid #e8e7ec;
    box-sizing: border-box;
}

.yxR {
    float: left;
    width: 286px;
    height: 509px;
    border: 1px solid #e8e7ec;
    box-sizing: border-box;
}

.sl {
    float: left;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    padding-left: 10px;
    color: #333;
}

.sr {
    float: right;
    color: #a10000;
    line-height: 24px;
    font-size: 14px;
    padding-right: 10px;
    padding-top: 3px;
}

.xiazhuang {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.xiazhuang h1 {
    text-align: center;
    line-height: 50px;
    margin: 30px 0px;
    color: #9a9a9a;
    font-size: 18px;
    font-weight: normal;
}

.xiazhuangBox {
    width: 100%;
    margin-left: 15px;
    overflow: hidden;
}

.xiazhuang ul {
    width: 100%;
    overflow: hidden;
}

.xiazhuang ul li {
    float: left;
    width: 258px;
    height: 508px;
    margin-right: 38px;
    margin-bottom: 20px;
    border: 1px solid #e8e7ec;
}

.xiazhuang ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

.xiazhuang ul li img {
    width: 258px;
    height: 438px;
}

.xiazhuang ul li .sL {
    float: left;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    color: #333;
    padding-top: 18px;
}

.xiazhuang ul li .sR {
    margin-left: 10px;
    float: right;
    color: #a10000;
    line-height: 24px;
    font-size: 12px;
    padding-right: 10px;
    padding-top: 20px;
}

.jingpin {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    /* margin-bottom: 32px; */
}

.jingpin h2 {
    text-align: center;
    line-height: 50px;
    margin: 30px 0px;
    color: #9a9a9a;
    font-size: 18px;
    font-weight: normal;
}


.jingpinBox {
    display: inline-grid;
    grid-template-columns: 385px 385px 385px;
    grid-template-rows: 275px 275px;
    grid-row-gap: 20px;
    grid-column-gap: 28px
}

.footer {
    width: 100%;
    overflow: hidden;
}

.footerT {
    width: 1200px;
    height: 285px;
    border: 1px solid #e8e7ec;
    box-sizing: border-box;
    margin: 32px auto;
}

.footerTBox1 {
    width: 1118px;
    height: 282px;
    margin: 0px auto;
    overflow: hidden;
}

.footerTBox1 a {
    display: block;
    overflow: hidden;
    float: left;
    margin: 33px 0px 23px;
}

.footerTBox1 .a1,
.footerTBox1 .a2,
.footerTBox1 .a3 {
    width: 371px;
    height: 138px;
}

.footerTBox1 .a1 img {
    width: 42px;
    height: 42px;
    margin: 15px 0 30px 170px;
}

.footerTBox1 .a1 span {
    display: block;
    margin: 0px auto;
    width: 156px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    background: #b81c22;
    color: #ffffff;
}

.footerTBox1 .a2 {
    border-left: 1px solid #e8e7ec;
    border-right: 1px solid #e8e7ec;
    box-sizing: border-box;
}

.footerTBox1 .a2 img {
    width: 38px;
    height: 38px;
    margin: 20px 0 20px 167px;
}

.footerTBox1 .a2 p {
    text-align: center;
    font-size: 14px;
    color: #727171;
    line-height: 26px
}

.footerTBox1 .a3 img {
    width: 104px;
    height: 104px;
    margin-left: 134px;
}

.footerTBox1 .a3 p {
    text-align: center;
    font-size: 14px;
    color: #727171;
    line-height: 26px;
}

.footerTBox1 .a3 p i {
    color: #a10000;
    font-style: normal;
}


.footerTBox2 li a {
    padding: 0px 65px;
    line-height: 57px;
    width: auto;
    text-align: center;
    margin-right: 0px;
    color: #333333;
    font-size: 12px;
    background: #f8f8f8;
    height: 57px;
    margin: 0;
}

.footerB {
    width: 100%;
    border-top: 2px solid;
}

.footerBT {
    width: 1200px;
    height: auto;
    margin: 10px auto;
}

.footerBT p {
    text-align: center;
    line-height: 25px;
    color: #3e3a39;
}

.footerBB {
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
}

.footerBB ul {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.footerBB ul li {

    margin: 0 10px;
    align-content: space-around;
}

.footerBB ul li:nth-child(1) a {
    background: url("http://i.vanclimg.com/cms/20140116/spritesbgtop.png") no-repeat scroll 0 -581px transparent;
    display: inline-block;
    height: 42px;
    width: 113px;
}

.footerBB ul li:nth-child(2) a {
    background: url("http://i.vanclimg.com/cms/20140116/spritesbgtop.png") no-repeat scroll 0 -629px transparent;
    display: inline-block;
    height: 45px;
    width: 156px;
}

.footerBB ul li:nth-child(3) a {
    background: url("http://i.vanclimg.com/cms/20140116/spritesbgtop.png") no-repeat scroll 0 -675px transparent;
    display: inline-block;
    height: 42px;
    width: 96px;
}

.footerBB ul li:nth-child(4) a {
    background: url("http://i.vanclimg.com/cms/20140116/spritesbgtop.png") no-repeat scroll -97px -675px transparent;
    display: inline-block;
    height: 42px;
    width: 101px;
}

.footerBB ul li:nth-child(5) a {
    background: url("http://i.vanclimg.com/cms/20140116/spritesbgtop.png") no-repeat scroll -202px -675px transparent;
    display: inline-block;
    height: 42px;
    width: 42px;
}

.footerBB ul li:nth-child(6) a {
    background: url("http://i.vanclimg.com/other/kexin_brand_for_others.png") no-repeat center;
    display: inline-block;
    background-size: 120px 39px;
    height: 39px;
    width: 120px;
}